*{
  list-style: none;
  font-family: montserrat;
}

body{
  padding-top: 95px;
}

.navv{
  
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: montserrat;
  text-decoration: none;
  list-style: none;
}
.bg-light {
  background-color: transparent !important;

}


.carousel-item {
  height: 100vh;
  min-height: 300px;
}

.carousel-caption {
  bottom: 50px;
}

.carousel-caption h5 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
  color: black;
  font-weight: 900;
}

.carousel-caption p {
  width: 60%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;

  font-weight: 600;


}

.carousel-caption a {
  text-transform: uppercase;
  text-decoration: none;
  background: darkorange;
  padding: 10px 30px;
  display: inline-block;
  color: #000;
  margin: top 15px;
}

/* .dropdown-menu{
      list-style: none;
      display: flex;
      justify-content: space-evenly;
  } */
/* .navbar-nav a{
    font-size: 20px;
    text-transform: uppercase;
    font-weight:5000;
    
  }

  .navbar-light .navbar-brand{
    color: #fff;
    font-size: 45px;
    text-transform:uppercase;
    font-weight: bold;
    letter-spacing: 2px;
  }
  .navbar-light .navbar-brand:focus,
  .navbar-light .navbar-brand:hover{
    color: rgb(224, 11, 11);
  }

  header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  .navbar-light .navbar-nav .nav-link{
    color: #fff;

  }

  .navbar-light .navbar-nav .nav-link:focus,
  .navbar-light .navbar-nav .nav-link:hover{
    color: #fff;

  }

  .w-100{
    height: 100vh;

  }

  .navbar-toggler{
    padding:1px 5px;
    font-size: 18px;
    line-height: 0.3;
    background: #fff;
  }

  @media screen and (max-width: 767px){ 
  .navbar-nav{
    text-align: center;
    background: rgba(0,0,0,0.5);
  }

    .carousel-caption{
      bottom: 165px;
    }
    .carousel-caption h5{
      font-size: 17px;
    }
    .carousel-caption a{
      padding: 10px 15px;
      font-size: 15px;
    }

  } */



header{
  text-decoration: none;
  list-style: none;
  background: #222327;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5%;
  transition: all .50s ease;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 400px;
  height: 85px;
  border-radius: 10px;
}

.navbar {
  display: flex;
}

.navbar a {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 5px 0;
  margin: 0 25px;
  transition: all .50s ease;
  text-decoration: none;
  font-size: larger;
}

.navbar a:hover {
  color: #29fd53;
  /* padding: 10px 20px; */
  border-radius: 10px;
}

.navbar a.active {
  color: #29fd53;
}

.main {
  display: flex;
  align-items: center;
}

#menu-icon {
  font-size: 35px;
  color: #fff;
  cursor: pointer;
  z-index: 10001;
  display: none;
}

/* .menu-item {
    margin: 0 20px;
} */

/* .menu-item a {
color: #fff;
text-decoration: none;
} */


.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #333;
  z-index: 1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  margin: 10px 0;
}

.dropdown-item a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px 10px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.dropdown-item a:hover {
  color: #333;
}

.side-list {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #333;
  /* padding: 20px; */
  z-index: 1;
}

.dropdown-item:hover .side-list {
  display: block;
}

.side-item {
  margin: 10px 0;
}

.side-item a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px 10px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.side-item a:hover {
  color: #333;
  background-color: #29fd53;
}

.side-list-2{
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #333;
  padding: 20px;
  z-index: 1;
}

.side-item:hover .side-list-2{
  display: block;
}

.side-item-2{
  margin: 10px 0;
}

.side-item-2{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.side-item-2 a:hover {
  color: #333;
  background-color: #29fd53;
}
@media (max-width: 1280px) {
  header {
    padding: 14px 2%;
    transition: .2s;
  }

  .navbar a {
    padding: 5px 0;
    margin: 0 20px;
  }
}

@media (max-width: 1090px) {
  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 270px;
    height: 50vh;
    background: #29fd53;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    transition: all .50s ease;
  }

  .navbar a {
    display: block;
    margin: 12px 0;
    padding: 0 25px;
    transition: all .50s ease;
  }

  .navbar a:hover {
    color: #fff;
    transform: translateY(10px);
  }


  .navbar a.active {
    color: #fff;
  }

  .navbar.open {
    right: 5%;
  }
}





/* #OP{
  size: 100px;
}

.column{
float: left;
width: 50%;
padding: 5px;

}
 */

.img {
  padding-left: 80px;
}



.college-std-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.college-std-pic img {
  width: 400px;
  height: 300px;
  border-radius: 13px;
  box-shadow: 4px 7px 7px 0px;
  cursor: pointer;
  margin: 10px;
  transition: 400ms;

}

.college-std-pic img:hover {
  filter: grayscale(1);
  transform: scale(1.03);
}

.branch-animated-pic {

  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.branch-animated-pic img {

  border-radius: 13px;
  box-shadow: 4px 7px 7px 0px;
  cursor: pointer;
  margin: 10px;
  transition: 400ms;
}

.branch-animated-pic img:hover {
  filter: sepia(400);
  transform: scale(1.03);
}

.holder {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.holder img {
  border-radius: 13px;
  box-shadow: 4px 7px 7px 0px;
  cursor: pointer;
  margin: 10px;
  transition: 400ms;
}

.holder img:hover {
  filter: saturate(3.5);
  transform: scale(1.03);
}



.grand-finale {
  background-color: #111111;
  color: #999;


}

.footer .social-link {
  float: left;
  padding-right: 8px;
  padding-left: 9px;
  font-size: 16px;

}

.con-down {

  margin-left: 100px;
}

.branch-animated-pic-students{
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.branch-animated-pic-students img{
  border-radius: 13px;
  box-shadow: 4px 7px 7px 0px;
  cursor: pointer;
  margin: 10px;
  transition: 400ms;
}

.branch-animated-pic-students img:hover{
  filter:saturate(3);
  transform: scale(1.04);
}
/* 
.social-media-link:hover{

  color: red;

} */

.dropdown-menu {
  background-color: black;
}

/* .fontdude{
  color: black;
} */


.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  filter: drop-shadow(0 0 0.75rem crimson);
  transform: scale(1.05);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.build-pic {
  border-radius: 5px 5px 0 0;
}


.color {
  color: white;
}

.mbacard{
  height: 120vh;
  background-image: url('images/mba-build-modified.jpeg');

  background-repeat: no-repeat;
  background-size: cover;
  

}

.m-mbatext{
  margin-left: 205px;
  padding-top: 200px;
}

